@import "site-color.scss";
@import "site-prop.scss";

@mixin mybtn($width, $height, $br-radius: 5px) {
    width: $width;
    height: $height;
    background-color: $btn-add-color;
    border: 0px solid transparent;
    border-radius: $br-radius;
    color: $btn-add-text-color;
    box-shadow: $mui-b-shadow;
    transition: $transition;

    &:hover {
        cursor: pointer;
        background-color: $btn-add-hover-color;
        box-shadow: $mui-b-shadow--hover;
        color: $btn-add-text-color-hover;
    }
    &:focus{
        outline:none;
    }
    &:disabled {
        background-color: $site-green-color-dark;
        color: $site-text-color-btn-disabled;

        &:hover {
            cursor: not-allowed;
            background-color: mix($site-green-color-dark,red,90%);
            box-shadow: $mui-b-shadow;
        }
    }
}